<%- include('partials/header.ejs') %>

<body>
    <%- include('partials/homenavbar.ejs') %>
    <div class="container">
        <br>
        <div class="card-header">
            <h3><%= article.title %></h3>
        </div>
        <div class="card-body">
            <!-- Exibir variável formatando com HTML-->
            <%- article.body %>
        </div>
        <br>
    </div>
</body>

<%- include('partials/footer.ejs') %>
